body {
    font-family: sans-serif;
}

main, section {
    width: 60vw;
    margin: auto;
    padding: 40px;
}

section {
    height: auto;
    padding: 0px;
    text-align: center;
    display: none;
}

h1 {
    margin: auto;
    text-align: center;
}

p {
    font-size: x-large;
}

button {
    display: block;
    margin: 30px auto auto;
    padding: 10px;
    background-color: purple;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.banner {
    margin: 0px auto 20px;
    position: relative;
}

.left-span {
    position: absolute;
    left: 20px;
}

.right-span {
    position: absolute;
    right: 20px;
}

.centerItems {
    width: 60vw;
    margin: auto;
    padding: 40px;
    text-align: center;
}

.centerItems input {
    margin: 5px;
}

.button-display {
    display: inline-block;
    margin: 8px;
}

.ol-style {
    display: table;
    margin: 20px auto;
    font-size: large;
}